/* Styles go here */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  position: relative;
  width: 100%;
  height: 10vh;
  font-family: Montserrat;
  margin-top: 0px;
  /* background-color: #39595e; */
  background-attachment: fixed;
  background-color: #363e46;
  background-image: linear-gradient(147deg, #485461 0%, #28313b 74%);
  
}

.cardbody {

  /* background-color: #638380; */
  background-color: #36404d;
  border-width:1px;  
  border-style:solid;
  border-color: #839ed1;
  /* background-image: linear-gradient(200deg, #485461 74%, #28313b 0%); */
}

.bottombar {
  position:absolute;
  /* top: 0; */
  left: 0;
  width: 100vw;
  /* height: 1200vh; */
  /* background-color:rgba(63, 63, 63, 0.39); */
  /* display:-ms-grid; */
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow-y:scroll; */
  /* max-height:100%; */
}

.rowC{display:flex; flex-direction:row;}

.loading {
  position: relative;
  width: 100%;
  height: 10vh;
  font-family: Montserrat;
  margin-top: 180px;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textLoading {
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
  font-size: 50px;
}

.textLoadingSmall {
  margin-top: 20px;
  color: #fbae17;
  display: inline-block;
  margin-left: 5px;
  font-size: 20px;
}

.text {
  color: #ff9a04;
  /* display: inline-block; */
  margin-left: 5px;
  /* font-size: 15px; */
}


.textBox {
  color: #ff9a04;
  display: inline-block;
  margin-left: 5px;
  /* font-size: 15px; */
}

.textSmall {
  color: #0479ff;
  display: inline-block;
  margin-left: 5px;
  /* font-size: 50px; */
}

.textInfo {
  color: #000000;
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
  }

.dropdown-toggle::after {
  display: none;
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
  
}
.bounceball:before {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    -webkit-animation: bounce 500ms alternate infinite ease;
            animation: bounce 500ms alternate infinite ease;
  }
  @-webkit-keyframes bounce {
    0% {
      top: 30px;
      height: 5px;
      border-radius: 60px 60px 20px 20px;
      transform: scaleX(2);
    }
    35% {
      height: 15px;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0;
    }
  }
  
  @keyframes bounce {
    0% {
      top: 30px;
      height: 5px;
      border-radius: 60px 60px 20px 20px;
      transform: scaleX(2);
    }
    35% {
      height: 15px;
      border-radius: 50%;
      transform: scaleX(1);
    }
    100% {
      top: 0;
    }
  }


  .lds-facebook {
    display: inline-flex;
    position: relative;
    width: 0px;
    height: 0px;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    width: 2px;
    background: #fff;
    animation: lds-facebook 1.0s cubic-bezier(0, 0.3, 0.3, 0.6) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 14px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 20px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: -4px;
      height: 12px;
    }
    50%, 100% {
      top: -2px;
      height: 6px;
    }
  }
  

  